@page "/fetchdata"
@using Strava.Models
@inject HttpClient Http
@inject NavigationManager NavigationManager
@rendermode InteractiveServer
@code {
    private int userId;
    private DetailedActivity activity;
    private float? averageDistance;
    private float? averageSpeed;
    private bool isLoading = false;
    private bool isDataLoaded = false;

    private async Task GetActivitiesAsync()
    {
        isLoading = true;
        isDataLoaded = false;
        string requestUri = $"https://localhost:7237/api/Strava/GetActivitiesAsync?includeAllEfforts=true";
        try
        {
            var response = await Http.GetAsync(requestUri);
            List<DetailedActivity> activities = await response.Content.ReadFromJsonAsync<List<DetailedActivity>>();

            if (activities != null && activities.Count > 10)
            {
                activity = activities[0];
                averageDistance = activities.Where(a => a.Type == "Run").Take(10).Average(b => b.Distance);
                averageSpeed = activities.Where(a => a.Type == "Run").Take(10).Average(b => b.AverageSpeed);
            }
            isDataLoaded = true;
        }
        catch (Exception ex)
        {
            Console.WriteLine($"Error fetching data: {ex.Message}");
        }
        finally
        {
            isLoading = false;
        }
    }
    private void TestMethod()
    {
        Console.WriteLine("TestMethod called");
    }
    private async Task ConnectToStrava() 
    { 
        try { 
            var response = await Http.GetAsync("https://localhost:7237/api/Strava/ConnectToStrava"); 
            if (response.IsSuccessStatusCode) 
            { 
                var jsonResponse = await response.Content.ReadFromJsonAsync<JsonResponse>(); 
                var stravaAuthUrl = jsonResponse.Url; // Perform the redirection 
                NavigationManager.NavigateTo(stravaAuthUrl, forceLoad: false);
            } else { 
                Console.WriteLine("Error calling ConnectToStrava"); 
            } 
        } catch (Exception ex) 
        { 
            Console.WriteLine($"Exception: {ex.Message}"); 
        } 
     }

    public class JsonResponse 
    { 
        public string Url { get; set; } 
    }

}

<div>
    <h3>Fetch Activity</h3>
    <form>
        <div class="form-group">
            <label for="userId">Enter Activity ID:</label>
            <input type="number" @bind="userId" class="form-control" id="userId" />
        </div>
        <button type="button" class="btn btn-primary" @onclick="ConnectToStrava">Connect</button>
        <button type="button" class="btn btn-primary" @onclick="GetActivitiesAsync">Fetch Activity</button>

    </form>

    @if (isLoading)
    {
        <p>Loading...</p>
    }
    else if (isDataLoaded)
    {
        <div>
            <h3>Average of last ten runs</h3>
            <p><strong>Distance:</strong> @averageDistance</p>
            <p><strong>Speed:</strong> @averageSpeed</p>
            <!-- Add more fields as needed -->
        </div>
        <div>
            <h3>Activity Details</h3>
            <p><strong>Activity ID:</strong> @activity.Id</p>
            <p><strong>Distance:</strong> @activity.Distance</p>
            <p><strong>Duration:</strong> @activity.ElapsedTime</p>
            <!-- Add more fields as needed -->
        </div>
    }
</div>
